/*****************************/
/* Modificator Classes       */
/* Version 1.02              */
/* Author name : Rim Zabarov */
/* Company: SIMAI            */
/* Website: http://simai.ru  */
/*****************************/

/* MARGIN */

.margin-none,
.m-0    { margin : 0px;  }
.m-5    { margin : 5px;  }
.m-10   { margin : 10px; }
.m-15   { margin : 15px; }
.m-20   { margin : 20px; }
.m-25   { margin : 25px; }
.m-30   { margin : 30px; }
.m-35   { margin : 35px; }
.m-40   { margin : 40px; }
.m-45   { margin : 45px; }
.m-50   { margin : 50px; }

.ml-0   { margin-left : 0px;  }
.ml-5   { margin-left : 5px;  }
.ml-10  { margin-left : 10px; }
.ml-15  { margin-left : 15px; }
.ml-20  { margin-left : 20px; }
.ml-25  { margin-left : 25px; }
.ml-30  { margin-left : 30px; }
.ml-35  { margin-left : 35px; }
.ml-40  { margin-left : 40px; }
.ml-45  { margin-left : 45px; }
.ml-50  { margin-left : 50px; }

.mt-0   { margin-top : 0px;  }
.mt-5   { margin-top : 5px;  }
.mt-10  { margin-top : 10px; }
.mt-15  { margin-top : 15px; }
.mt-20  { margin-top : 20px; }
.mt-25  { margin-top : 25px; }
.mt-30  { margin-top : 30px; }
.mt-35  { margin-top : 35px; }
.mt-40  { margin-top : 40px; }
.mt-45  { margin-top : 45px; }
.mt-50  { margin-top : 50px; }

.mr-0   { margin-right : 0px;  }
.mr-5   { margin-right : 5px;  }
.mr-10  { margin-right : 10px; }
.mr-15  { margin-right : 15px; }
.mr-20  { margin-right : 20px; }
.mr-25  { margin-right : 25px; }
.mr-30  { margin-right : 30px; }
.mr-35  { margin-right : 35px; }
.mr-40  { margin-right : 40px; }
.mr-45  { margin-right : 45px; }
.mr-50  { margin-right : 50px; }

.mb-0   { margin-bottom : 0px;  }
.mb-5   { margin-bottom : 5px;  }
.mb-10  { margin-bottom : 10px  }
.mb-15  { margin-bottom : 15px; }
.mb-20  { margin-bottom : 20px; }
.mb-25  { margin-bottom : 25px; }
.mb-30  { margin-bottom : 30px; }
.mb-35  { margin-bottom : 35px; }
.mb-40  { margin-bottom : 40px; }
.mb-45  { margin-bottom : 45px; }
.mb-50  { margin-bottom : 50px; }


/* PADDING */

.padding-none,
.p-0    { padding : 0px;  }
.p-5    { padding : 5px;  }
.p-10   { padding : 10px; }
.p-15   { padding : 15px; }
.p-20   { padding : 20px; }
.p-25   { padding : 25px; }
.p-30   { padding : 30px; }
.p-35   { padding : 35px; }
.p-40   { padding : 40px; }
.p-45   { padding : 45px; }
.p-50   { padding : 50px; }

.p-l-0   { padding-left : 0px;  }
.p-l-5   { padding-left : 5px;  }
.p-l-10  { padding-left : 10px; }
.p-l-15  { padding-left : 15px; }
.p-l-20  { padding-left : 20px; }
.p-l-25  { padding-left : 25px; }
.p-l-30  { padding-left : 30px; }
.p-l-35  { padding-left : 35px; }
.p-l-40  { padding-left : 40px; }
.p-l-45  { padding-left : 45px; }
.p-l-50  { padding-left : 50px; }

.pt-0   { padding-top : 0px;  }
.pt-5   { padding-top : 5px;  }
.pt-10  { padding-top : 10px; }
.pt-15  { padding-top : 15px; }
.pt-20  { padding-top : 20px; }
.pt-25  { padding-top : 25px; }
.pt-30  { padding-top : 30px; }
.pt-35  { padding-top : 35px; }
.pt-40  { padding-top : 40px; }
.pt-45  { padding-top : 45px; }
.pt-50  { padding-top : 50px; }

.pr-0   { padding-right : 0px;  }
.pr-5   { padding-right : 5px;  }
.pr-10  { padding-right : 10px; }
.pr-15  { padding-right : 15px; }
.pr-20  { padding-right : 20px; }
.pr-25  { padding-right : 25px; }
.pr-30  { padding-right : 30px; }
.pr-35  { padding-right : 35px; }
.pr-40  { padding-right : 40px; }
.pr-45  { padding-right : 45px; }
.pr-50  { padding-right : 50px; }

.pb-0   { padding-bottom : 0px;  }
.pb-5   { padding-bottom : 5px;  }
.pb-10  { padding-bottom : 10px; }
.pb-15  { padding-bottom : 15px; }
.pb-20  { padding-bottom : 20px; }
.pb-25  { padding-bottom : 25px; }
.pb-30  { padding-bottom : 30px; }
.pb-35  { padding-bottom : 35px; }
.pb-40  { padding-bottom : 40px; }
.pb-45  { padding-bottom : 45px; }
.pb-50  { padding-bottom : 50px; }


/* HEIGHT */

.h-10   { min-height : 10px; }
.h-20   { min-height : 20px; }
.h-30   { min-height : 30px; }
.h-40   { min-height : 40px; }
.h-50   { min-height : 50px; }
.h-60   { min-height : 60px; }
.h-70   { min-height : 70px; }
.h-80   { min-height : 80px; }
.h-90   { min-height : 90px; }
.h-100  { min-height : 100px;}


/* WIDTH */

.w-0      { width : 0%;  }
.w-10     { width : 10%; }
.w-20     { width : 20%; }
.w-30     { width : 30%; }
.w-40     { width : 40%; }
.w-50     { width : 50%; }
.w-60     { width : 60%; }
.w-70     { width : 70%; }
.w-80     { width : 80%; }
.w-90     { width : 90%; }
.w-100    { width : 100%;}


/* FLOAT */

.left   { float : left; }
.right  { float : right;}

.clear  { clear : both; }

/* POSITION */

.relative { position : relative; }
.absolute { position : absolute; }
.fixed    { position : fixed;    }
.static   { position : static;   }


/* RADIUS */

.radius-0   { border-radius : 0px; }
.radius-1   { border-radius : 1px; }
.radius-2   { border-radius : 2px; }
.radius-3   { border-radius : 3px; }
.radius-4   { border-radius : 4px; }
.radius-5   { border-radius : 5px; }
.radius-6   { border-radius : 6px; }
.radius-7   { border-radius : 7px; }
.radius-8   { border-radius : 8px; }
.radius-9   { border-radius : 9px; }
.radius-10  { border-radius : 10px;}

.circle { border-radius : 50%; }


/* BORDER */

.bn   { border : none; }


/* TEXT */

.text-left    { text-align : left;    }
.text-right   { text-align : right;   }
.text-center  { text-align : center;  }
.text-justify { text-align : justify; }

.text-caps    { text-transform : uppercase; }

.no-wrap      { white-space :    nowrap;    }

.lh-10  { line-height : 10px;  }
.lh-15  { line-height : 15px;  }
.lh-20  { line-height : 20px;  }
.lh-25  { line-height : 25px;  }
.lh-30  { line-height : 30px;  }
.lh-35  { line-height : 35px;  }
.lh-40  { line-height : 40px;  }
.lh-45  { line-height : 45px;  }
.lh-50  { line-height : 50px;  }
.lh-55  { line-height : 55px;  }
.lh-60  { line-height : 60px;  }
.lh-65  { line-height : 65px;  }
.lh-70  { line-height : 70px;  }
.lh-75  { line-height : 75px;  }
.lh-80  { line-height : 80px;  }
.lh-85  { line-height : 85px;  }
.lh-90  { line-height : 90px;  }
.lh-95  { line-height : 95px;  }
.lh-100 { line-height : 100px; }

.lh-90e  { line-height : 0.9em; }
.lh-100e { line-height : 1em;   }
.lh-110e { line-height : 1.1em; }
.lh-120e { line-height : 1.2em; }
.lh-130e { line-height : 1.3em; }
.lh-140e { line-height : 1.4em; }
.lh-150e { line-height : 1.5em; }
.lh-160e { line-height : 1.6em; }
.lh-170e { line-height : 1.7em; }
.lh-180e { line-height : 1.8em; }
.lh-190e { line-height : 1.9em; }
.lh-200e { line-height : 2em;   }


/* FONT */

.f-10  { font-size : 10px; }
.f-11  { font-size : 11px; }
.f-12  { font-size : 12px; }
.f-13  { font-size : 13px; }
.f-14  { font-size : 14px; }
.f-16  { font-size : 16px; }
.f-18  { font-size : 18px; }
.f-20  { font-size : 20px; }
.f-22  { font-size : 22px; }
.f-24  { font-size : 24px; }
.f-26  { font-size : 26px; }
.f-28  { font-size : 28px; }
.f-30  { font-size : 30px; }
.f-32  { font-size : 32px; }
.f-36  { font-size : 36px; }
.f-38  { font-size : 38px; }
.f-40  { font-size : 40px; }

.small,
.text-small,
.f-75p    { font-size : 75%;  }
.f-90p    { font-size : 90%;  }
.f-100p   { font-size : 100%; }
.f-110p   { font-size : 110%; }
.f-120p   { font-size : 120%; }
.f-130p   { font-size : 130%; }
.f-140p   { font-size : 140%; }
.f-150p   { font-size : 150%; }
.f-160p   { font-size : 160%; }
.f-200p   { font-size : 200%; }
.f-300p   { font-size : 300%; }

.f-75r    { font-size : 0.75rem;}
.f-90r    { font-size : 0.9rem; }
.f-100r   { font-size : 1rem;   }
.f-110r   { font-size : 1.1rem; }
.f-120r   { font-size : 1.2rem; }
.f-130r   { font-size : 1.3rem; }
.f-140r   { font-size : 1.4rem; }
.f-150r   { font-size : 1.5rem; }
.f-160r   { font-size : 1.6rem; }
.f-200r   { font-size : 2rem;   }
.f-300r   { font-size : 3rem;   }

.bold     { font-weight : bold;   }
.thin-100 { font-weight : 300;    }
.thin-300 { font-weight : 300;    }
.bold-500 { font-weight : 500;    }
.bold-700 { font-weight : 700;    }
.bold-900 { font-weight : 900;    }

.italic   {font-style   : italic; }

.serif      { font-family : serif;      }
.sans-serif { font-family : sans-serif; }
.monospace  { font-family : monospace;  }

.roboto     { font-family : 'Roboto', sans-serif;   }


/* OPACITY */

.opacity-none,
.opacity-0    { opacity : 0;   }
.opacity-5    { opacity : 0.5; }
.opacity-10   { opacity : 0.1; }
.opacity-15   { opacity : 0.15;}
.opacity-20   { opacity : 0.2; }
.opacity-25   { opacity : 0.25;}
.opacity-30   { opacity : 0.3; }
.opacity-35   { opacity : 0.35;}
.opacity-40   { opacity : 0.4; }
.opacity-45   { opacity : 0.45;}
.opacity-50   { opacity : 0.5; }
.opacity-55   { opacity : 0.55;}
.opacity-60   { opacity : 0.6; }
.opacity-65   { opacity : 0.65;}
.opacity-70   { opacity : 0.7; }
.opacity-75   { opacity : 0.75;}
.opacity-80   { opacity : 0.8; }
.opacity-85   { opacity : 0.85;}
.opacity-90   { opacity : 0.9; }
.opacity-95   { opacity : 0.95;}
.opacity-100  { opacity : 1    }


/* SHADOW */

.shadow-none,
.shadow-0    { box-shadow : none; }
.shadow-1    { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);     }
.shadow-2    { box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);     }
.shadow-3    { box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);   }
.shadow-4    { box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); }
.shadow-5    { box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); }

.hover-shadow { transition: all 0.2s ease-in-out; transform: translateY(0); }
.hover-shadow:hover {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); transform: translateY(-3px);}

/* OVERFLOW */

.overflow-hidden  { overflow : hidden;  }
.overflow-visible { overflow : visible; }


/* VISIBILITY */

.hidden    { display    : none;   }
.show      { display    : block;  }
.invisible { visibility : hidden; }


/* VISIBILITY */

.block  { display : block;  }
.inline { display : inline;  }
